.descrip_producto {
  width: 80%;
  margin: 5% 10% 0 10%;
  display: flex;
  align-items: center;
}
.descrip_producto .carrusel {
  width: 50%;
}
.descrip_producto .carrusel .carousel-inner {
  width: 100%;
  height: 500px;
}
.descrip_producto .carrusel .carousel-inner .carousel-item {
  width: 100%;
  height: 500px;
}
.descrip_producto .carrusel .carousel-inner .carousel-item img {
  display: flex;
  width: 100%;
  height: 100%;
}
.descrip_producto .carrusel .control .icono {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}
.descrip_producto .descripcion-principal {
  width: 50%;
  padding: 5%;
}
.descrip_producto .descripcion-principal h1 {
  color: #003862;
  font-size: 3em;
}
.descrip_producto .descripcion-principal h2 {
  font-size: 1em;
  text-align: justify;
}
.agregar{
  padding: 3%;
  border-radius: 5px;
  background: #003862;
  color: white;
}

.tabla {
  display: flex;
  justify-content: center;
}
.tabla .tabla_descripcion {
  border: 100px;
  margin: 5% 30%;
  font-size: 1.2em;
  width: 100%;
}
.tabla .tabla_descripcion tr {
  width: 100%;
}
.tabla .tabla_descripcion tr td {
  padding-left: 30px;
  text-align: start;
  width: 50%;
  font-size: 1.2em;
  color: #838282;
  font-family: "Roboto", "Russo One", sans-serif;
}

@media only screen and (max-width: 400px) {
  .descrip_producto {
    display: block;
    width: 100%;
    justify-content: center;
    margin: 0;
  }
  .descrip_producto .carrusel {
    width: 90%;
    margin: 30px 5%;
  }
  .descrip_producto .carrusel .carousel-inner {
    height: 350px;
  }
  .descrip_producto .carrusel .carousel-inner .carousel-item {
    height: 350px;
  }
  .descrip_producto .descripcion-principal {
    width: 90%;
    margin: 10px 5%;
  }
  .descrip_producto .descripcion-principal h1 {
    color: #003862;
    font-size: 2em;
    text-align: center;
  }
  .descrip_producto .descripcion-principal h2 {
    font-size: 1em;
    text-align: justify;
    text-align: center;
  }

  .tabla .tabla_descripcion {
    border: 100px;
    margin: 5% 5%;
    font-size: 0.8em;
    width: 100%;
  }
  .tabla .tabla_descripcion tr td {
    font-size: 1em;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .descrip_producto {
    width: 90%;
    margin: 5% 5%;
  }
  .descrip_producto .carrusel {
    width: 60%;
  }
  .descrip_producto .carrusel .carousel-inner {
    height: 300px;
  }
  .descrip_producto .carrusel .carousel-inner .carousel-item {
    height: 300px;
  }
  .descrip_producto .descripcion-principal {
    width: 40%;
    padding: 2%;
  }
  .descrip_producto .descripcion-principal h1 {
    font-size: 2em;
  }
  .descrip_producto .descripcion-principal h2 {
    font-size: 1em;
  }

  .tabla .tabla_descripcion {
    border: 100px;
    margin: 5% 20%;
    font-size: 1em;
    width: 100%;
  }
  .tabla .tabla_descripcion tr td {
    font-size: 1em;
  }
}
@media only screen and (min-width: 961px) {
  .productos_top .productos_sugeridos {
    display: grid;
    padding: 3em 10em 3em 10em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4em;
  }
  .productos_top .productos_sugeridos .producto img {
    padding-top: 10px;
  }
  .productos_top .productos_sugeridos .producto button a {
    color: #fff;
    text-decoration: none;
  }
  .productos_top .productos_sugeridos .producto button:hover {
    transform: scale(1.05);
  }
}

/*# sourceMappingURL=product_styles.css.map */
